* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: #0D0B0C;
}

main, footer {
  color: white;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.menu .submenu {
  display: none;
}

.submenu {
  position: absolute;
  background: #242524;
  width: 60%;
  display: none;
  border-radius: 10px;
  padding: 0;
}

.sub-item:hover {
  background: rgb(29, 139, 29);
  border-radius: 3px;
}

.submenu li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

.menu li:hover .submenu {
  display: block;
}

li a {
  color: rgb(55, 236, 10);
  text-decoration: none;
}

.titulo-principal {
  color: rgb(55, 236, 10);
}

.titulos {
  color: rgb(55, 236, 10);
}

.link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: greenyellow;
  margin: auto;
  display: block;
}

.link:hover::after {
  width: 50%;
  transition: width 0.3s linear;
  border-radius: 2px;
}

.titulos::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: greenyellow;
  margin: auto;
  display: block;
}

.titulos:hover::after {
  width: 10%;
  transition: width 0.3s linear;
  border-radius: 2px;
}

.contenedor-img img {
  transition: transform 0.3s ease;
}

.contenedor-img:hover img {
  transform: scale(1.1);
}

.descripcion {
  padding-top: 20px;
}

#menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

#navbar {
  display: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 35px;
  border: none;
  outline: none;
  color: rgb(55, 236, 10);
  cursor: pointer;
}

.img-t2, .img-t3, .img-t4, .img-t5 {
  width: 100%;
}

body {
  background-color: #0D0B0C;
}

.menu {
  padding-right: 80px;
}

.contenedor-imagenes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 1rem;
  height: 100%;
}

.container {
  max-width: 100% !important;
}

.contenedor-imagenes div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-uno {
  grid-column: span 5;
  grid-row: span 1;
}

.img-tres {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.img-seis {
  grid-column: span 1;
}

.img-siete {
  grid-column: span 2;
}

.img-nueve {
  grid-column: span 3;
}

.img-diez {
  grid-column: span 2;
}

.contenedor-img-freezer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 1rem;
  height: 100%;
}

.contenedor-img-freezer div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-freezer-uno, .img-freezer-dos, .img-freezer-tres {
  grid-column: span 2;
}

.img-freezer-cuatro, .img-freezer-cinco, .img-freezer-seis {
  grid-column: span 1;
}

.img-freezer-ocho, .img-freezer-diez {
  grid-column: span 2;
}

.img-freezer-nueve {
  grid-column: span 4;
}

.contenedor-img-cell {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 1rem;
  height: 100%;
}

.contenedor-img-cell div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-cell-uno {
  grid-column: span 1;
}

.img-cell-dos, .img-cell-cuatro, .img-cell-siete, .img-cell-ocho, .img-cell-nueve, .img-cell-diez {
  grid-column: span 2;
}

.img-cell-tres {
  grid-column: span 3;
}

.contenedor-img-buu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 1rem;
  height: 100%;
}

.contenedor-img-buu div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-buu-dos, .img-buu-diez {
  grid-column: span 2;
}

.img-buu-cuatro {
  grid-column: span 1;
}

.contenedor-img-super {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 1rem;
  height: 100%;
}

.contenedor-img-super div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-super-uno, .img-super-dos, .img-super-tres, .img-super-cinco {
  grid-column: span 2;
}

.img-super-siete, .img-super-ocho, .img-super-nueve, .img-super-diez {
  grid-column: span 2;
}

.img-super-seis {
  grid-column: span 3;
}

.div-seccion div img {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.titulos-producto {
  margin: 2rem 0 2rem 0;
}

button {
  background-color: rgb(55, 236, 10);
  width: 190px;
  height: 35px;
  color: rgb(41, 30, 30);
  border: none;
  border-radius: 10px !important;
  margin-bottom: 20px !important;
}

@media screen and (max-width: 720px) {
  .imagen-principal-index img {
    display: none;
  }
  .submenu {
    display: none;
  }
  .has-submenu:hover .submenu {
    display: block;
  }
  .seccion-cuadros div div div img {
    display: block;
  }
}
@media only screen and (min-width: 720px) {
  #navbar {
    display: block;
  }
  #menu-toggle {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
