*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilos generales */
body{
    background-color: #0D0B0C;
    color: whitesmoke;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: whitesmoke;
}

header div nav ul li a{
    color: green;
}

main div{
    display: flex;
}