
@media screen and (max-width: 720px){
    .imagen-principal-index img{
        display: none;
    }

    .submenu{
        display: none;
    }

    .has-submenu:hover .submenu{
        display: block;
    }

    .seccion-cuadros div div div img{
        display: block;
    }
}

@media only screen and (min-width: 720px){
    #navbar{
        display: block;
    }

    #menu-toggle{
        display: none;
    }
}