
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: #0D0B0C;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

li a{
    color: rgb(55, 236, 10);
    text-decoration: none;
}

.titulo-principal{
    color: rgb(55, 236, 10);
}

.titulos{
    color: rgb(55, 236, 10);
}

li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: greenyellow;
    margin: auto;
    display: block;
}

li a:hover::after{
    width: 50%;
    transition: width 0.3s linear;
    border-radius: 2px;
}

.titulos::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: greenyellow;
    margin: auto;
    display: block;
}

.titulos:hover::after{
    width: 10%;
    transition: width 0.3s linear;
    border-radius: 2px;
}

// .contenedor-img-uno{
//     overflow: hidden;
// }

.contenedor-img img{
    transition: transform 0.3s ease;
}

.contenedor-img:hover img{
    transform: scale(1.1);
}

.descripcion{
    padding-top: 20px;
}

@import "./temporadas.scss"








