
.img-t1{
    height: 450px;
}

.img-t2, .img-t3, .img-t4, .img-t5{
    width: 100%;
    height: 450px;
}

.contenedor-p-img img{
    transition: transform 0.3s ease;
}

.contenedor-p-img:hover img{
    transform: scale(1.1);
}

