
.div-seccion div{
    img{
        height: 200px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

.titulos-producto{
    margin: 2rem 0 2rem 0;
}

button{
    background-color: #3FAE2A;
    width: 190px;
    height: 35px;
    color: rgb(41, 30, 30);
}
